footer{
    background: #242424;
    color: #6c757d;
    padding: 50px;
    div, a, p{
        margin-bottom: 18px;
    }
    i{
        color: #6c757d;
        font-size: 1.3rem;
        transition: .3s;
    }

    a{
        display: inline-block;
        justify-content: center;
        align-items: center;
        background: #494949;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 44.5px;
    }
    a:hover i{
        color: #eb3d77;
    }
    *{
        text-align: center;
    }
}